.nav{
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 9999999999;
}


.img-nav{
    width: 35px;
    padding: 0 5px;
}

.segunda_parte{
    background-color: black;
}
article{
    width: 350px;

}
   
