.nav{
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 9999999999;
}


.img-nav{
    width: 35px;
    padding: 0 5px;
}

.segunda_parte{
    background-color: black;
}
article{
    width: 350px;

}

i{
    display: flex;
    width: 100%;
     background-color: rgb(6, 162, 235);
     justify-content: center;
     padding: 5px;
     align-items: center;
     text-align: center;
     color: white;
}
.card{
    display: flex;
    width: 250px !important;
    margin: 5px;
    background-color: rgb(6, 162, 235);

}
@media screen and (max-width: 600px) {
    #cartas-1 {
      display: none;
    }
  }

.cuadro-100{
    max-height: 142px;
}
footer{
    background-color: rgb(6, 162, 235);
   
   padding: 18px 0;
}
